* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden; 
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-image: url(https://cdn.glitch.global/18d5f7bf-78b4-4b5e-b976-d7ec84277e1b/night-3078326_1920.jpg?v=1751848882510);
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  position: absolute;
  z-index: 1;
  text-align: center;
  font-size: clamp(2rem, 5vw, 4rem);
  top: 2%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: linear-gradient(90deg, #ff8a00, #e52e71,#00c6ff);
  background-size: 200%;
  background-clip: text;
  color: transparent;
  animation: text-animation 4s infinite;  
}
@keyframes text-animation{
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 200%;
  }
}
canvas {
  display: block; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; 
}

#workarea {
  position: absolute;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; 
  background-color: transparent; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start;
  padding-left: 3%; 
}
.svg-wrapper {
  margin-top: 10px; 
  margin-bottom: 10px;
  position: relative;
  width: 150px;
  height: 40px;
  width: clamp(120px, 15vw, 200px);
  height: clamp(35px, 4vw, 50px);
  border-radius: 3px;

}

#shape {
  stroke-width: 4px;
  fill: transparent;
  stroke: #ff9700;
  stroke-dasharray: 120 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}

#text {
  margin-top: -35px; 
  transform: translate(5%);
}

#text a {
  color: rgb(246, 244, 244);
  text-decoration: none;
  font-weight: 100;
  font-size: 115%;
}

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 6px;
  stroke-dashoffset: 0;
  stroke: #062fff;
}
.reseña{
  width: 25%;
  height: 25%;
  text-align: justify;
  padding: 1%;
  overflow: auto;
  cursor: default;
  position: absolute;
  transform: translate(230%,-180%);
  color: #ffffff;
  background-color: rgba(6, 6, 6,);
  box-shadow: 0 4px 10px #000;
  border-radius: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.reseña::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento vertical */
  height: 8px; /* Alto de la barra de desplazamiento horizontal */
}

.reseña::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0); /* Color del "pulgar" (la parte que arrastras) */
  border-radius: 4px; /* Bordes redondeados del pulgar */
}

.reseña::-webkit-scrollbar-track {
  background-color: #07f7eb00; /* Color del "track" (el fondo de la barra) */
}

.reseña::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 0, 0,0.6); /* Color del pulgar al pasar el ratón */
}
.foto{
  position: absolute;
  width: 300px;
  height: 200px;
  transform: translate(155%,-155%);
  border-radius: 1rem;
}
.reseña1{
  width: 25%;
  height: 25%;
  text-align: justify;
  padding: 1%;
  overflow: auto;
  cursor: default;
  position: absolute;
  transform: translate(120%,-50%);
  color: #ffffff;
  background-color: rgba(6, 6, 6,);
  box-shadow: 0 4px 10px #000;
  border-radius: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.reseña1::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento vertical */
  height: 8px; /* Alto de la barra de desplazamiento horizontal */
}

.reseña1::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0); /* Color del "pulgar" (la parte que arrastras) */
  border-radius: 4px; /* Bordes redondeados del pulgar */
}

.reseña1::-webkit-scrollbar-track {
  background-color: #07f7eb00; /* Color del "track" (el fondo de la barra) */
}

.reseña1::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 0, 0,0.6); /* Color del pulgar al pasar el ratón */
}
.foto1{
  position: absolute;
  width: 370px;
  transform: translate(350%,-50%);
  border-radius: 1rem;
  width: 280px;
}
.mapa{
  position: absolute;
  transform: translate(150%,-250%);
  color: #ffffff;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mapa-contenedor {
  position: absolute; 
  width: 200%;
  height: 450%;
  padding-bottom: 75%;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.9);

}

/* Estilos para el iframe dentro del contenedor */
.mapa-contenedor iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px; 
}
footer{
  z-index: 1;
  position: absolute;
  background-color: rgb(0, 0, 0,0.4);
  width: 100%;
  height: 7%;
  transform: translate(0%,47vh);
  color: #00c6ff;
  text-align: center;
  padding: 15px;
}
.infor{
  z-index: 1;
  box-shadow: 0 4px 10px #000;
  position: absolute;
  width: 25%;
  height: 70%;
  transform: translate(280%);
  padding: 2%;
  border-radius: 2vh;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ffffff;
}
.fotos{
  position: absolute;
  width: 200px;
  height: 300px;
  transform-style: preserve-3d;
  animation: animate 30s linear infinite;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%) perspective(1000px) rotateY(0deg);
}
@keyframes animate{
  0%{
    transform: perspective(1000px) rotatey(0deg);
  }
  100%{
    transform: perspective(1000px) rotatey(360deg);
  }
}
.fotos span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotatey(calc(var(--i)* 45deg)) translatez(400px);
  -webkit-box-reflect: below 0px linear-gradient(transparent,transparent, #0004);
}
.fotos span img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.texto-encima {
    position: absolute;
    top: 175px;
    left: 135px; 
    transform: translate(-195%, -440%); 
    color: white; 
    font-weight: bold;
    z-index: 2; 
}
.facebook{
  color: rgb(246, 244, 244);
  text-decoration: none;
  font-weight: 100;
  font-size: 115%;
}